body {
  font-family: 'Roboto Mono',monospace;
  min-height: 600px;
  background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png');
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
background-color: #483D8B;
text-align: center;
padding: 10px 5px 2px;
border-radius: 5px;
}

.page-title {
  color: #7B68EE;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

input {
text-align: center;
width: 50px;
height: 25.5px;
background-color: white;
outline: none;
border: none;
border-radius: 5px;
margin-bottom: 9px;
}

.label {
color: white;
background-color: #7B68EE;
border-radius: 5px;
padding: 4px;
}

button {
text-align: center;
width: 50px;
height: 29px;
background-color: white;
outline: none;
border: none;
border-radius: 5px;
display: block;
font-size: 14px;
width: 70px;
margin: 10px auto;
}

#check {
display: inline;
}

#tentar{
display: none;
}

h2 {
color: white;
}

#reload {
display: none;
width: 180px;
}


.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 15px;
  right:15px;
}

@media (max-height: 500px) {
  body {
    min-height:800px;
  }
}